<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error{
            color: red;

        }

    </style>
</head>
<body>
    <h2>login.html</h2>
    <form action="/member/login" method="post" th:object="${login}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err: ${#fields.globalErrors()}" th:text="${err}">글로벌오류</p>
        </div>
        이메일 :<input type="text" th:field="*{memberEmail}"><br>
        <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" th:errorclass="field-error"> </p>
        비밀번호 :<input type="text" th:field="*{memberPassword}"><br>
        <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" th:errorclass="field-error"> </p>
        <input type="submit" value="로그인">
    </form>
</body>
</html>