<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const update = () =>{
            const inputPassword = document.getElementById("boardPassword").value;
            const boardPassword = "[[${board.boardPassword}]]";
            if(inputPassword == boardPassword){
                updateForm.submit();
            }else{
                alert("비밀번호가 틀렸습니다");
            }
        }
        const boardUpdate=()=>{
            const id= document.querySelector("#boardId").value();
            const writer = document.getElementById("boardWriter").value;
            const inputPassword = $("#boardPassword").val();
            const password = "[[${board.boardPassword}]]";
            const title = document.getElementById("boardTitle").value;
            const contents = document.getElementById("boardContents").value;
            const updateData = Json.stringify({
               boardId: id,
               boardWriter: writer,
               boardPassword: password,
               boardTitle: title,
               boardContents: contents
            });
            const reqUrl = "/board/" + id;
            if(inputPassword == password){
                $.ajax({
                    type: "put",
                    url: reqUrl,
                    contentType: "application/json",
                    data: updateData,
                    success: function (){
                        location.href = "/board/" + id;
                    },
                    error: function (){
                        alert("ajax 실패")
                    }
                });
            }else{
                alert("비밀번호가 틀렸습니다.");
            }
        }
    </script>
</head>
<body>
  <h2>update.html</h2>
  <form action="/member/update" method="post" name="updateForm">
      <input type="hidden" name="boardId" th:value="${board.boardId}" readonly><br>
      <input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly><br>
      <input type="text" id="boardPassword" name="boardPassword" th:value="${board.boardPassword}" readonly><br>
      <input type="text" name="boardTitle" th:value="${board.boardTitle}" ><br>
      <input type="text" name="boardContents" th:value="${board.boardContents}" ><br>
      <input type="text" name="boardDate" th:value="${board.boardDate}" readonly><br>
      <input type="button" value="수정하기" th:onclick="update()">
      <input type="button" value="수정(put)" th:onclick="boardUpdate()">
  </form>
</body>
</html>