<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>save.html</h2>
    <form action="/member/save" method="post" enctype="multipart/form-data">
        <input type="text" name="m_email" placeholder="이메일"><br>
        <input type="text" name="m_password" placeholder="비밀번호"><br>
        <input type="text" name="m_name" placeholder="이름"><br>
        <input type="text" name="m_phonenum" placeholder="핸드폰번호"><br>
        <input type="file" name="m_file" value="파일첨부"><br>
        <input type="submit" value="회원가입">
    </form>

</body>
</html>