<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>findById.html</h2>
    <table>
        <thead>
            <tr>번호</tr>
            <tr>이메일</tr>
            <tr>비밀번호</tr>
            <tr>이름</tr>
        </thead>
        <tbody>
            <td th:text="${member.memberId}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberPassword}"></td>
            <td th:text="${member.memberName}"></td>
        </tbody>
    </table>

</body>
</html>