<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>update.html</h2>
    <form action="/member/update" method="post">
        <input type="hidden" name="memberId" th:value="${member.memberId}" ><br>
        <input type="text" name="memberEmail" th:value="${member.memberEmail}" placeholder="이메일"><br>
        <input type="text" name="memberPassword" th:value="${member.memberPassword}" placeholder="비밀번호"><br>
        <input type="text" name="memberName" th:value="${member.memberName}" placeholder="이름"><br>
        <input type="submit"  value="수정">
    </form>
</body>
</html>