<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const memberUpdate =() =>{
            console.log("수정함수호출");
            const id = document.getElementById("memberId").value;
            const email = document.getElementById("memberEmail").value;
            const password = document.getElementById("memberPassword").value;
            const name = document.getElementById("memberName").value;
            //const memberId = document.querySelector("#memberId").value;
            //const memberId = $("#memberId").val();
            //const memberId = "[[${member.memberId}]]";
            //dom java 에서 html을 컨트롤할수 있도록하는것
            //javascript object에 담아서 ajax로 컨트롤러에 보냄
            const updateData = JSON.stringify({
                memberId:id,
                memberEmail: email,
                memberPassword: password,
                memberName: name
            });
            console.log(updateData);
            const reqUrl = "/member/"+id;
            $.ajax({
                type: "put", //수정에대한요청은 put, patch 가있다 put은 덮어씌우기  patch 수정에필요한것만바꾸기
                data: updateData,
                url: reqUrl,
                contentType: "application/json", //json으로 보낼때 꼭써야함
                success: function(){
                    location.href = "/member/" + id;
                },
                error: function (){
                    alert("ajax 실패");
                }
            });
        }
    </script>
</head>
<body>
    <h2>update.html</h2>
    <form action="/member/update" method="post">
        <input type="hidden" id="memberId" name="memberId" th:value="${member.memberId}" ><br>
        <input type="text" id="memberEmail" name="memberEmail" th:value="${member.memberEmail}" placeholder="이메일" readonly><br>
        <input type="text" id="memberPassword" name="memberPassword" th:value="${member.memberPassword}" placeholder="비밀번호"><br>
        <input type="text" id="memberName" name="memberName" th:value="${member.memberName}" placeholder="이름"><br>
        <input type="submit"  value="수정">
        <input type="button" value="수정(put)" th:onclick="memberUpdate()">
    </form>
</body>
</html>